---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Contactform from "@components/contactform.astro";
import Pagetitle from "@components/pagetitle.astro";
---

<Layout title="Contact">
  <Container>
    <Pagetitle>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">We'd Love to Hear from You! Drop us a Line. </Fragment>
    </Pagetitle>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800 dark:text-gray-200">
          Contact Us
        </h2>
        <p
          class="text-lg leading-relaxed text-gray-500 dark:text-gray-400 mt-3">
          Have something to say? <br>
          Suggestions or Comments are Welcome! <br> 
          Fill out the form or send us an email.
        </p>
        <div class="mt-5">
          <div
            class="flex items-center mt-2 space-x-2 text-gray-600 dark:text-gray-300">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Here, There, and Everywhere USA</span>
          </div><div
            class="flex items-center mt-2 space-x-2 text-gray-600 dark:text-gray-300">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:nomadicnerdventures@gmail.com">nomadicnerdventures@gmail.com</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
